
<div class="jumbotron jumbotron-fluid" style="background:url(https://omny.fm/shows/gossip/12-basement-bethany/image.jpg?t=1555508442&size=WideShare)">
  <div class="container">
    <h1 class="display-4">Contact</h1>
  </div>
</div>
<p>Surtout ne nous contactez pas, on est beaucoup trop busy.</p>
